@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url(./AnonymousPro.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(./AnonymousPro.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url(./AnonymousProB.woff2) format('woff2');
}

@font-face {
  font-family: 'Anonymous';
  font-weight: bold;
  src: url(./Anonymous-Bold.woff2) format('woff2');
}
